/* src/components/Header.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

nav button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #f8f9fa;
}

.logo img {
    width: 100px;
    width: 60px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    height: 60px; /* Pastikan tinggi dan lebar sama untuk gambar bulat */
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    object-fit: cover;  
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
